/*
    Frameless           <http://framelessgrid.com/>
    by Joni Korpi       <http://jonikorpi.com/>
    licensed under CC0  <http://creativecommons.org/publicdomain/zero/1.0/>
*/
//
// Configuration
//

@font-size: 16;         // Your base font-size in pixels
@em: @font-size*1em;    // Shorthand for outputting ems, e.g. "12/@em"

@column: 48;    // The column-width of your grid in pixels
@gutter: 24;    // The gutter-width of your grid in pixels

@color1: #E5DCD0;
@color2: #C25B4C;
@color3: white;
@color4: #A8CB4B;
@color5: #646661;

//
// Column-widths in variables, in ems
//

 @1cols: ( 1 * (@column + @gutter) - @gutter) / @em; @1col: @1cols;
 @2cols: ( 2 * (@column + @gutter) - @gutter) / @em;
 @3cols: ( 3 * (@column + @gutter) - @gutter) / @em;
 @4cols: ( 4 * (@column + @gutter) - @gutter) / @em;
 @5cols: ( 5 * (@column + @gutter) - @gutter) / @em;
 @6cols: ( 6 * (@column + @gutter) - @gutter) / @em;
 @7cols: ( 7 * (@column + @gutter) - @gutter) / @em;
 @8cols: ( 8 * (@column + @gutter) - @gutter) / @em;
 @9cols: ( 9 * (@column + @gutter) - @gutter) / @em;
@10cols: (10 * (@column + @gutter) - @gutter) / @em;
@11cols: (11 * (@column + @gutter) - @gutter) / @em;
@12cols: (12 * (@column + @gutter) - @gutter) / @em;
@13cols: (13 * (@column + @gutter) - @gutter) / @em;
@14cols: (14 * (@column + @gutter) - @gutter) / @em;
@15cols: (15 * (@column + @gutter) - @gutter) / @em;
@16cols: (16 * (@column + @gutter) - @gutter) / @em;


//
// Column-widths in a function, in ems
//

.width (@cols:1) {
    width: (@cols * (@column + @gutter) - @gutter) / @em;
}

//
// Custom functions
//

.arrow-down (@size: 5 / @em, @color: #FFF) {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: @size solid transparent;
    border-right: @size solid transparent;  
    border-top: @size solid @color;
}

.border-radius (@top-left: 5px; @top-right: @top-left;
    @bottom-right: @top-left; @bottom-left: @top-left) {
    -webkit-border-top-left-radius: @top-left;
    -webkit-border-top-right-radius: @top-right;
    -webkit-border-bottom-right-radius: @bottom-right;
    -webkit-border-bottom-left-radius: @bottom-left;

    -moz-border-radius-topleft: @top-left;
    -moz-border-radius-topright: @top-right;
    -moz-border-radius-bottomright: @bottom-right;
    -moz-border-radius-bottomleft: @bottom-left;

    border-top-left-radius: @top-left;
    border-top-right-radius: @top-right;
    border-bottom-right-radius: @bottom-right;
    border-bottom-left-radius: @bottom-left;
}
.shadow {
  -moz-box-shadow:    0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow:         0 1px 1px rgba(0,0,0,0.2);
}

.border-box () {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.seperator (@color: @color2; @width: 100%) {
    height: 1px;
    width: @width;
    background-color: @color;
}

/* External fonts */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(http://themes.googleusercontent.com/static/fonts/armata/v3/FG9R9aX-RIX_AvJI8USOWg.woff) format('woff');
}

/*
    Margin, padding, and border resets
    except for form elements
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}


/*
    Consistency fixes
    adopted from http://necolas.github.com/normalize.css/
*/

* {
    outline: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, audio, canvas, video {
    display: block;
}

html {
    height: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

    body {
        min-height: 100%;
        font-size: 100%;
        font-family: Helvetica, Arial;
        padding-bottom: 30 / @em;

        &::-webkit-scrollbar {
            -webkit-appearance:none;
            width:12px;
            background-color:#f0f0f0;
        }

        &::-webkit-scrollbar-thumb {
            border-radius:12px;
            border:4px solid rgba(255,255,255,0);
            background-clip:content-box;
            background-color:#bfbfbf;
        }
        &::-webkit-scrollbar-thumb:hover {
            border-radius:12px;
            border:4px solid rgba(255,255,255,0);
            background-clip:content-box;
            background-color:#A0A0A0;
        }

        &::-webkit-scrollbar-corner {
            background-color:#e6e6e6;
        }
    }

sub, sup {
    font-size: 75%; 
    line-height: 0; 
    position: relative; 
    vertical-align: baseline;
}

    sup {top: -0.5em;}
    sub {bottom: -0.25em;}

pre {
    white-space: pre; 
    white-space: pre-wrap; 
    word-wrap: break-word;
}

b, strong {font-weight: bold;}
abbr[title] {border-bottom: 1px dotted;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img, img {
    -ms-interpolation-mode: bicubic;
    border: 0;
}

input, textarea, button, select {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
    border: 0;
    .border-box;
}

    button,
    html input[type="button"], 
    input[type="reset"], 
    input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
    }

    input[type="checkbox"],
    input[type="radio"] {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
    }

    textarea {overflow: auto;}


/*
    These are easy to forget
*/

::selection {
    background: red;
    color: white;
}
::-moz-selection {
    background: red;
    color: white;
}

img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(255,0,0, 0.62);
    background-color: @color1;
}

/* glyph icons */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-info-sign {
  background-position: -120px -96px;
}
/* end glyph icons */

.container {
    .width(17);
    margin: auto;
}

/* Home page */
#home {
    margin-top: @2cols;
    text-align: center;
    font-family: Armata, Helvetica, Arial;

    h1 {
        color: @color2;
        font-size: 600%;
        margin: auto;
    }

    p {
        color: darken(@color1, 40%);
    }

    #social-links {
        .width(4);
        margin: @1cols auto auto auto;
        list-style-type: none;

        a {
            display: block;
            padding: 20 / @em;
            margin-top: 10 / @em;
            color: white;
            text-decoration: none;
        }
        #facebook {
            background-color: #45619D;
        }
        #twitter {
            background-color: #00ACEE;
        }
    }
}
/* End Home page */

.rating-box {
    padding: 8 / @em;
    .border-radius();
    background-color: @color4;
    color: white;
}

.underline-link {
    cursor: pointer;
    border-bottom: 1px dotted @color2;
    color: @color2;
}

#top-bar {
    @height: 70 / @em;
    
    background-color: @color2;
    height: @height;
    font-family: Armata, Helvetica, Arial;

    form {
        display: inline;
    }
    #search {
        .width(4);
        height: (@height / 100 * 70);
        margin-top: (@height / 100 *14);
        padding: 15 / @em;
        background-color: darken(@color2, 7%);
        color: white;

        .placeholder {
            color: lighten(@color2, 7%);
            font-size: 95%;
        }

        &::-webkit-input-placeholder { .placeholder; }
        &::-moz-placeholder { .placeholder; } /* firefox 19+ */
        &:-ms-input-placeholder { .placeholder;} /* ie */
        &:-moz-placeholder { .placeholder; }
    }

    .loading {
        display: inline-block;
        background-image: url('../img/ajax-loader.gif');
        width: 16px;
        height: 16px;
        margin-left: 5 / @em;
        vertical-align: middle;
    }

    #search-box {
        width: inherit;
        position: absolute;
        z-index: 10;
        background-color: @color2;
        overflow-x: auto;
        white-space: nowrap;
        
        &::-webkit-scrollbar-track {
              background-color: @color2;
        }
        &::-webkit-scrollbar-thumb {
              background-color: rgba(0, 0, 0, 0.2);
        }
        &::-webkit-scrollbar-button {
              background-color: #7c2929;
        }
        &::-webkit-scrollbar-corner {
              background-color: @color2;
        }

        ul {
            list-style-type: none;
            padding: 20 / @em;

            li {
                display: inline-block;
                background-color: darken(@color2, 7%);
                .width(2.5);
                padding: 7 / @em;
                margin-right: (@gutter + 5) / @em;
                text-align: center;
                white-space: normal;

                a {
                    text-decoration: none;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                }

                p {
                    font-size: 90%;
                    font-weight: normal;
                    color: white;
                }
            }
        }

        #hide-btn {
            display: inline-block;
            color: white;
            background-color: darken(@color2, 7%);
            font-size: 90%;
            font-weight: bold;
            font-family: Helvetica, Arial;
            margin-top: 20 / @em;
            margin-left: 15 / @em;
            padding: 5 / @em 10 / @em;
            cursor: pointer;
        }
    }

    #dropdown {
        float: right;
        position: relative;

        #user-info {
            @img-size: (@height / 2);

            display: block;
            position: relative;
            padding: ((@height - @img-size) / 2);
            color: white;
            
            img {
                height: @img-size;
                width: @img-size;
                .border-radius(50%);
                vertical-align: middle;
                margin-right: 5 / @em;
            }

            .arrow-icon {
                vertical-align: middle;
                margin-left: 3 / @em;
                .arrow-down(6 / @em; darken(@color2, 15%));
            }

            span {
                font-size: 80%;
            }
        }

        #dropdown-menu {
            display: none;
            position: absolute;
            width: 100%;
            z-index: 2;
            background-color: lighten(@color2, 5%);
            list-style-type: none;

            a {
                display: block;
                padding: 20 / @em;
                text-decoration: none;
                text-align: right;
                color: white;
                font-size: 82%;
            }
        }

        &:hover {
            #user-info {
                background-color: lighten(@color2, 5%);
            }

            #dropdown-menu {
                display: block;
            }
        }
    }
}

#show-list {
    .show-card {
        display: inline-block;
        .width(3);
        padding: 7 / @em;
        margin: (@gutter + 10) / @em (@gutter + 5) / @em 0 0;
        background-color: @color3;
        text-align: center;
        vertical-align: top;
        .shadow;

        a {
            text-decoration: none;
        }
        
        img {
            .width(3);
            position: relative;
        }

        .unseen-count {
            @size: (@1cols * 130 / 100);
            
            display: block;
            width: @size;
            height: @size;
            position: absolute;
            margin: -(@size * 90 / 100) 0 0 ((@3cols - @size) / 2 - 5 / @em);
            .border-radius(50%);
            border: 5 / @em solid @color3;
            vertical-align: middle;
            line-height: @size;
            background-color: @color4;

            span {
                font-size: 175%;
                font-family: Armata, Helvetica, Arial;
                color: white;
            }
        }

        h3 {
            font-size: 125%;
            font-weight: normal;
            font-family: Armata, Helvetica, Arial;
            color: @color5;
            margin-top: 14 / @em
        }

        .seperator {
            margin: 10 / @em 0;
            .seperator(lighten(@color5, 50%));
        }

        p {
            color: lighten(@color5, 20%);
            font-size: 12 / @em;
            line-height: 150%;
        }
    }
}

#show-left-col {
    .width(4.5);
    float: left;
    margin-top: @gutter / @em;

    #poster {
        width: inherit;
        border: 5px solid @color3;
        .border-box;
        .shadow;
    }

    #subscription-btn {
        background-color: @color3;
        padding: 15 / @em;
        .border-box;
        text-align: center;
        .shadow;

        a {
            .underline-link;
        }
    }
}

#show-right-col {
    float: left;
    .width(12.5);
    margin-top: @gutter / @em;
    padding-left: 20 / @em;
    .border-box;
    color: lighten(@color5, 10%);

    .box {
        width: 100%;
        padding: 20 / @em;
        .border-box;
        background-color: @color3;
        font-size: 90%;
    }

    .hide-details {
        p {
            display: none;
        }
    }

    #show-info {
        padding-bottom: 0;
        .shadow;

        h1 {
            font-family: Armata, Helvetica, Arial;
            font-weight: normal;
            font-size: 175%;
            color: darken(@color5, 15%);
            margin-bottom: 6 / @em;
        }

        p {
            margin-top: 20 / @em;
        }
    }

    #toggle {
        width: 100%;
        padding: 10 / @em 0;
        text-align: center;
        background-color: @color3;
        .shadow;

        &:hover {
            background-color: darken(@color3, 5%);
        }
    }

    #season-list {
        margin-top: 20 / @em;
        .shadow;

        .season-toggle {
            background-color: darken(@color1, 10%);
            color: white;
            padding: 12 / @em;
            margin: 5 / @em;
            float: left;
            cursor: default;

            &:hover {
                .selected;
            }
        }
        .selected {
            background-color: @color2;
        }

        .icon-seen{
            .icon-eye-open;
            opacity: 1.0;
        }
        .icon-unseen{
            .icon-eye-open;
            opacity: 0.3;
        }
        .icon-unaired{
            .icon-plane;
            opacity: 0.3;
        }

        #legends {
            clear: both;
            margin-top: 70/@em;
            margin-bottom: 15/@em;
            padding-left: 15 / @em;
        }

        ul {
            list-style: none;

            li {
                display: block;
                padding: 15 / @em;
                border-top: 1px  dotted darken(@color1, 5%);

                .ep-number {
                    margin-right: 30 / @em;
                }
                .ep-title {
                    color: @color5;
                    font-weight: bold;
                    margin-right: 10 / @em;
                }
                .pull-right {
                    float: right;

                    .icon-legend {
                        .icon-unseen;
                    }

                    a {
                        display: none;
                        margin-right: 10 / @em;
                        
                        span {
                           .underline-link;
                        }

                        #ep-overview {
                            .width(5);
                            position: absolute;
                            margin-top: 30 / @em;
                            margin-left: -(110 / @em);
                            padding: 10 / @em;
                            background-color: @color2;
                            color: white;
                        }
                    }
                }

                &:hover {
                    .pull-right{
                        a {
                            display: inline;
                        }
                    } 
                };
            }

            .seen {
                .pull-right{
                    .icon-legend {
                        .icon-seen;
                    }
                }
            }
            .unaired {
                .pull-right{
                    .icon-legend {
                        .icon-unaired;
                    }
                }
            }
        }
    }
}

/*
    Style overrides for IE6-8
    http://jonikorpi.com/leaving-old-IE-behind/
*/

.ie {

}


/*
    Media queries
*/

@media screen and (max-width: 1200px) {
    .container{
        .width(13)
    }

    #show-list {
        .show-card {
            margin-right: (@gutter - 10) / @em;
        }
    }

    #show-left-col {
        .width(3.5);
    }
    #show-right-col {
        .width(9.5);
    }
}