/*
    Frameless           <http://framelessgrid.com/>
    by Joni Korpi       <http://jonikorpi.com/>
    licensed under CC0  <http://creativecommons.org/publicdomain/zero/1.0/>
*/
.shadow {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* External fonts */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(http://themes.googleusercontent.com/static/fonts/armata/v3/FG9R9aX-RIX_AvJI8USOWg.woff) format('woff');
}
/*
    Margin, padding, and border resets
    except for form elements
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
    Consistency fixes
    adopted from http://necolas.github.com/normalize.css/
*/
* {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
  font-family: Helvetica, Arial;
  padding-bottom: 1.875em;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  background-color: #f0f0f0;
}
body::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #bfbfbf;
}
body::-webkit-scrollbar-thumb:hover {
  border-radius: 12px;
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #A0A0A0;
}
body::-webkit-scrollbar-corner {
  background-color: #e6e6e6;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
/*
    These are easy to forget
*/
::selection {
  background: red;
  color: white;
}
::-moz-selection {
  background: red;
  color: white;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62);
  background-color: #e5dcd0;
}
/* glyph icons */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
/* end glyph icons */
.container {
  width: 75em;
  margin: auto;
}
/* Home page */
#home {
  margin-top: 7.5em;
  text-align: center;
  font-family: Armata, Helvetica, Arial;
}
#home h1 {
  color: #c25b4c;
  font-size: 600%;
  margin: auto;
}
#home p {
  color: #967953;
}
#home #social-links {
  width: 16.5em;
  margin: 3em auto auto auto;
  list-style-type: none;
}
#home #social-links a {
  display: block;
  padding: 1.25em;
  margin-top: 0.625em;
  color: white;
  text-decoration: none;
}
#home #social-links #facebook {
  background-color: #45619D;
}
#home #social-links #twitter {
  background-color: #00ACEE;
}
/* End Home page */
.rating-box {
  padding: 0.5em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #a8cb4b;
  color: white;
}
.underline-link {
  cursor: pointer;
  border-bottom: 1px dotted #c25b4c;
  color: #c25b4c;
}
#top-bar {
  background-color: #c25b4c;
  height: 4.375em;
  font-family: Armata, Helvetica, Arial;
}
#top-bar form {
  display: inline;
}
#top-bar #search {
  width: 16.5em;
  height: 3.0625em;
  margin-top: 0.6124999999999999em;
  padding: 0.9375em;
  background-color: #af4a3c;
  color: white;
  /* firefox 19+ */

  /* ie */

}
#top-bar #search .placeholder {
  color: #cb7367;
  font-size: 95%;
}
#top-bar #search::-webkit-input-placeholder {
  color: #cb7367;
  font-size: 95%;
}
#top-bar #search::-moz-placeholder {
  color: #cb7367;
  font-size: 95%;
}
#top-bar #search:-ms-input-placeholder {
  color: #cb7367;
  font-size: 95%;
}
#top-bar #search:-moz-placeholder {
  color: #cb7367;
  font-size: 95%;
}
#top-bar .loading {
  display: inline-block;
  background-image: url('../img/ajax-loader.gif');
  width: 16px;
  height: 16px;
  margin-left: 0.3125em;
  vertical-align: middle;
}
#top-bar #search-box {
  width: inherit;
  position: absolute;
  z-index: 10;
  background-color: #c25b4c;
  overflow-x: auto;
  white-space: nowrap;
}
#top-bar #search-box::-webkit-scrollbar-track {
  background-color: #c25b4c;
}
#top-bar #search-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
#top-bar #search-box::-webkit-scrollbar-button {
  background-color: #7c2929;
}
#top-bar #search-box::-webkit-scrollbar-corner {
  background-color: #c25b4c;
}
#top-bar #search-box ul {
  list-style-type: none;
  padding: 1.25em;
}
#top-bar #search-box ul li {
  display: inline-block;
  background-color: #af4a3c;
  width: 9.75em;
  padding: 0.4375em;
  margin-right: 1.8125em;
  text-align: center;
  white-space: normal;
}
#top-bar #search-box ul li a {
  text-decoration: none;
  cursor: pointer;
}
#top-bar #search-box ul li img {
  width: 100%;
}
#top-bar #search-box ul li p {
  font-size: 90%;
  font-weight: normal;
  color: white;
}
#top-bar #search-box #hide-btn {
  display: inline-block;
  color: white;
  background-color: #af4a3c;
  font-size: 90%;
  font-weight: bold;
  font-family: Helvetica, Arial;
  margin-top: 1.25em;
  margin-left: 0.9375em;
  padding: 0.3125em 0.625em;
  cursor: pointer;
}
#top-bar #dropdown {
  float: right;
  position: relative;
}
#top-bar #dropdown #user-info {
  display: block;
  position: relative;
  padding: 1.09375em;
  color: white;
}
#top-bar #dropdown #user-info img {
  height: 2.1875em;
  width: 2.1875em;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  vertical-align: middle;
  margin-right: 0.3125em;
}
#top-bar #dropdown #user-info .arrow-icon {
  vertical-align: middle;
  margin-left: 0.1875em;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-top: 0.375em solid #903d31;
}
#top-bar #dropdown #user-info span {
  font-size: 80%;
}
#top-bar #dropdown #dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #c86c5f;
  list-style-type: none;
}
#top-bar #dropdown #dropdown-menu a {
  display: block;
  padding: 1.25em;
  text-decoration: none;
  text-align: right;
  color: white;
  font-size: 82%;
}
#top-bar #dropdown:hover #user-info {
  background-color: #c86c5f;
}
#top-bar #dropdown:hover #dropdown-menu {
  display: block;
}
#show-list .show-card {
  display: inline-block;
  width: 12em;
  padding: 0.4375em;
  margin: 2.125em 1.8125em 0 0;
  background-color: #ffffff;
  text-align: center;
  vertical-align: top;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#show-list .show-card a {
  text-decoration: none;
}
#show-list .show-card img {
  width: 12em;
  position: relative;
}
#show-list .show-card .unseen-count {
  display: block;
  width: 3.9em;
  height: 3.9em;
  position: absolute;
  margin: -3.51em 0 0 3.7375em;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 0.3125em solid #ffffff;
  vertical-align: middle;
  line-height: 3.9em;
  background-color: #a8cb4b;
}
#show-list .show-card .unseen-count span {
  font-size: 175%;
  font-family: Armata, Helvetica, Arial;
  color: white;
}
#show-list .show-card h3 {
  font-size: 125%;
  font-weight: normal;
  font-family: Armata, Helvetica, Arial;
  color: #646661;
  margin-top: 0.875em;
}
#show-list .show-card .seperator {
  margin: 0.625em 0;
  height: 1px;
  width: 100%;
  background-color: #e3e4e2;
}
#show-list .show-card p {
  color: #979994;
  font-size: 0.75em;
  line-height: 150%;
}
#show-left-col {
  width: 18.75em;
  float: left;
  margin-top: 1.5em;
}
#show-left-col #poster {
  width: inherit;
  border: 5px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#show-left-col #subscription-btn {
  background-color: #ffffff;
  padding: 0.9375em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#show-left-col #subscription-btn a {
  cursor: pointer;
  border-bottom: 1px dotted #c25b4c;
  color: #c25b4c;
}
#show-right-col {
  float: left;
  width: 54.75em;
  margin-top: 1.5em;
  padding-left: 1.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #7e807a;
}
#show-right-col .box {
  width: 100%;
  padding: 1.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 90%;
}
#show-right-col .hide-details p {
  display: none;
}
#show-right-col #show-info {
  padding-bottom: 0;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#show-right-col #show-info h1 {
  font-family: Armata, Helvetica, Arial;
  font-weight: normal;
  font-size: 175%;
  color: #3e3f3c;
  margin-bottom: 0.375em;
}
#show-right-col #show-info p {
  margin-top: 1.25em;
}
#show-right-col #toggle {
  width: 100%;
  padding: 0.625em 0;
  text-align: center;
  background-color: #ffffff;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#show-right-col #toggle:hover {
  background-color: #f2f2f2;
}
#show-right-col #season-list {
  margin-top: 1.25em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#show-right-col #season-list .season-toggle {
  background-color: #d3c4af;
  color: white;
  padding: 0.75em;
  margin: 0.3125em;
  float: left;
  cursor: default;
}
#show-right-col #season-list .season-toggle:hover {
  background-color: #c25b4c;
}
#show-right-col #season-list .selected {
  background-color: #c25b4c;
}
#show-right-col #season-list .icon-seen {
  background-position: -96px -120px;
  opacity: 1.0;
}
#show-right-col #season-list .icon-unseen {
  background-position: -96px -120px;
  opacity: 0.3;
}
#show-right-col #season-list .icon-unaired {
  background-position: -168px -120px;
  opacity: 0.3;
}
#show-right-col #season-list #legends {
  clear: both;
  margin-top: 4.375em;
  margin-bottom: 0.9375em;
  padding-left: 0.9375em;
}
#show-right-col #season-list ul {
  list-style: none;
}
#show-right-col #season-list ul li {
  display: block;
  padding: 0.9375em;
  border-top: 1px dotted #dcd0c0;
}
#show-right-col #season-list ul li .ep-number {
  margin-right: 1.875em;
}
#show-right-col #season-list ul li .ep-title {
  color: #646661;
  font-weight: bold;
  margin-right: 0.625em;
}
#show-right-col #season-list ul li .pull-right {
  float: right;
}
#show-right-col #season-list ul li .pull-right .icon-legend {
  background-position: -96px -120px;
  opacity: 0.3;
}
#show-right-col #season-list ul li .pull-right a {
  display: none;
  margin-right: 0.625em;
}
#show-right-col #season-list ul li .pull-right a span {
  cursor: pointer;
  border-bottom: 1px dotted #c25b4c;
  color: #c25b4c;
}
#show-right-col #season-list ul li .pull-right a #ep-overview {
  width: 21em;
  position: absolute;
  margin-top: 1.875em;
  margin-left: -6.875em;
  padding: 0.625em;
  background-color: #c25b4c;
  color: white;
}
#show-right-col #season-list ul li:hover .pull-right a {
  display: inline;
}
#show-right-col #season-list ul .seen .pull-right .icon-legend {
  background-position: -96px -120px;
  opacity: 1.0;
}
#show-right-col #season-list ul .unaired .pull-right .icon-legend {
  background-position: -168px -120px;
  opacity: 0.3;
}
/*
    Style overrides for IE6-8
    http://jonikorpi.com/leaving-old-IE-behind/
*/
/*
    Media queries
*/
@media screen and (max-width: 1200px) {
  .container {
    width: 57em;
  }
  #show-list .show-card {
    margin-right: 0.875em;
  }
  #show-left-col {
    width: 14.25em;
  }
  #show-right-col {
    width: 41.25em;
  }
}
