<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html ng-app="App"><!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title ng-bind="title">teewee</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css"/>

    <!-- Le javascript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/models.js"></script>
    <script src="{{ STATIC_URL }}js/controllers.js"></script>
    <script src="{{ STATIC_URL }}js/filters.js"></script>
    <script src="{{ STATIC_URL }}js/localStorageModule.js"></script>

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body lang="en">
    <nav id="top-bar">
        <div ng-controller="SearchController" class="container">
            <form ng-submit="search()">
                <input ng-model="query" id="search" type="text" placeholder="Find a TV show">
                <span ng-if="loading" class="loading"></span>
            </form>

            <div id="dropdown">
                <a id="user-info">
                    <img src="{{ request.session.avatar_url }}" />
                    <span ng-bind="user.displayName()"></span> <span class="arrow-icon"></span>
                </a>
                <ul id="dropdown-menu">
                    <li><a href="/logout" target="_self">Logout</a></li>
                </ul>
            </div>

            <div ng-show="results" id="search-box">
                <div id="hide-btn" ng-click="results=undefined;query=undefined">
                    x
                </div>
                <ul>
                    <li ng-repeat="show in results">
                        <a ng-click="selectShow(show.id)">
                            <img ng-src="{[{ show.data.poster }]}">
                            <p ng-bind="show.data.seriesname"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" ng-view></div>

</body>
</html>