<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>teewee -- keep track of your favourite TV shows</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css"/>
</head>
<body lang="en">
    <div id="home">
        <h1>teewee</h1>
        <p>Hodor, hodor. Hodor!</p>
        <ul id="social-links">
            <li><a href="{% url "socialauth_begin" "facebook" %}" id="facebook">Login with Facebook</li></a>
            <li><a href="{% url "socialauth_begin" "twitter" %}" id="twitter">Login with Twitter</li></a>
        </ul>
    </div>
</body>
</html>