<section id="show-list" ng-controller="ShowListController">
    <article class="show-card" ng-repeat="show in shows" ng-show="subscriptions[show.id]">
        <a href="/show/{[{ show.id }]}">
            <img ng-src="{[{ show.data.poster }]}">
        </a>
        <span class="unseen-count">
            <span>{[{ show.unseen(subscriptions[show.id].last_seen).length }]}</span>
        </span>
        <a href="/show/{[{ show.id }]}">
            <h3>{[{ show.data.seriesname }]}</h3>
        </a>
        <div class="seperator"></div>
        <p ng-switch on="show.nextEpisode() != undefined">
            <span ng-switch-when="true">
                Next episode :<br />
                {[{ show.nextEpisode().firstaired|prettifyDate }]}
                ({[{ show.data.airs_dayofweek }]})<br />
                S{[{ show.nextEpisode().seasonnumber }]} E{[{ show.nextEpisode().episodenumber }]}
                : {[{ show.nextEpisode().episodename }]}
            </span>
            <span ng-switch-when="false">
                Whoops!<br />
                No upcoming<br />
                episodes
            </span>
        </p>
    </article>
</section>