<section id="show-left-col">
    <img id="poster" ng-src="{[{ show.data.poster }]}">

    <div id="subscription-btn">
        <a ng-show="subscription" ng-click="unsubscribe()">Unfollow this show</a>
        <a ng-show="!subscription" ng-click="subscribe()">Follow this show</a>
    </div>
</section>

<section id="show-right-col">
    <div id="show-info" ng-class="showDetails ? 'box' : 'box hide-details'">
        <h1>{[{ show.data.seriesname }]}</h1>
        <i class="icon-calendar"></i> {[{ show.data.airs_dayofweek }]} &nbsp;
        <i class="icon-time"></i> {[{ show.data.airs_time }]} ({[{ show.data.runtime }]} minutes incl. commercials) &nbsp;
        <i class="icon-facetime-video"></i> {[{ show.data.network }]}
        <p id="genre">
            <span class="rating-box">
                <i class="icon-star"></i>
                {[{ show.data.rating }]}
            </span>&nbsp;
            {[{ show.data.genre.split("|").slice(1,-1).join(", ") }]}
        </p>
        <p id="overview">
            {[{ show.data.overview }]}
        </p>
        <p id="cast">
            {[{ show.data.actors.split("|").slice(1,-1).join(", ") }]}
        </p>
    </div>
    <div id="toggle" ng-click="showDetails = !showDetails"><i ng-class="showDetails ? 'icon-chevron-up' : 'icon-chevron-down'"></i></div>

    <div id="season-list" ng-if="subscription" class="box">
        <div ng-class="($parent.selectedSeason ? $parent.selectedSeason == key : subscription.last_seen.split('-')[0] == key) ? 'season-toggle selected' : 'season-toggle'" ng-repeat="(key, season) in show.seasons" ng-click="$parent.selectedSeason = key">
            Season {[{ key }]}
        </div>
        <div id="legends">
            <i class="icon-seen"></i> seen &nbsp;
            <i class="icon-unseen"></i> unseen &nbsp;
            <i class="icon-unaired"></i> unaired
        </div>
        <ul ng-repeat="(key, season) in show.seasons" ng-show="$parent.selectedSeason ? $parent.selectedSeason == key : subscription.last_seen.split('-')[0] == key">
            <li ng-repeat="episode in toArray(season)" ng-show="episode.id" ng-class="show.isSeen(subscription.last_seen, episode) ? 'seen' : (show.isAired(episode) ? '' : 'unaired')">
                <span class="ep-number">#{[{ episode.episodenumber }]}</span>
                <span class="ep-title">{[{ episode.episodename }]}</span>
                <span class="ep-aired" ng-if="episode.firstaired">({[{ episode.firstaired }]})</span>
                <span class="pull-right">
                    <a ng-click="showEpOverview = !showEpOverview" ng-mouseout="showEpOverview = false">
                        <div id="ep-overview" ng-show="showEpOverview">{[{ episode.overview || 'Not Available' }]}</div>
                        <i class="icon-info-sign"></i> <span>Overview</span>
                    </a>
                    <a><i class="icon-check"></i> <span ng-click="markLastSeen(episode)">Mark as last seen</span></a>&nbsp;
                    <i class="icon-legend"></i>
                </span>
            </li>
        </ul>
    </div>
</section>